---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<a
  href={`/blog/${post.id}`}
  class="flex flex-row items-center gap-4 overflow-hidden rounded-sm border border-zinc-200 p-4 transition duration-300 hover:border-purple-500"
>
  <div
    class="flex h-10 w-10 shrink items-center justify-center text-center text-2xl"
  >
    {post.data.emoji}
  </div>
  <div class="ml-2 flex flex-1 flex-col gap-1">
    <p class="text-sm text-zinc-500">
      {post.data.date.toLocaleDateString("ja-JP")}
    </p>
    <h3 class="line-clamp-2 text-lg font-bold md:text-xl">
      {post.data.title}
    </h3>
    <p class="text-md text-zinc-700">
      {post.data.description}
    </p>
  </div>
</a>
